.section__about {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5rem;
}
.section__about h2 {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-5);
  line-height: 2.5rem;
  margin: 0;
}
.section__about p {
  width: 100%;
  line-height: 1.875rem;
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-1);
  margin: 2rem 0;
}
@media (min-width: 768px) {
  .section__about {
    flex-direction: row;
  }
  .section__about p {
    width: 60%;
    margin: 0;
  }
}
@media (max-width: 350px) {
  .section__about {
    width: 90%;
  }
}
