.project__card {
  position: relative;
  display: flex;
  width: 26.875rem;
  height: 11.4375rem;
  border: 0.125rem solid var(--color-border);
  border-radius: 1.5625rem;
  margin-bottom: 1.2rem;
}
.project__card img {
  width: 2.1875rem;
  height: 2.1875rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.project__card div {
  margin-left: 1.5625rem;
}
.project__card > div > h2 {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-5);
}
.project__card > div > p {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-1);
  margin-bottom: 3rem;
}
.project__card a {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-4);
  color: var(--color-primary);
}
.project__card a:hover {
  color: var(--color-primary-hover);
}
